<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% end %>

<h1>Roll Out The Ribbons Pin Manager</h1>

<%= form_tag(pinmanager_index_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Pins" %>
  <%= submit_tag "Search" %>
<% end %>


<% if @pins.present? %>
  <table id="pin-manager-table">
    <tr>
      <td>Pin ID:</td>
      <td>First Name:</td>
      <td>Last Name:</td>
      <td>Email:</td>
      <td>Can Email:</td>
      <td>Comment:</td>
      <td>Zip Code:</td>
      <td>Delete:</td>
    </tr>
  <% @pins.each do |pin| %>
    <tr>
      <td><%= pin.id %></td>
      <td><%= pin.pin_first_name %></td>
      <td><%= pin.pin_last_name %></td>
      <td><%= pin.pin_email %></td>
      <td><%= pin.pin_can_email %></td>
      <td><%= pin.pin_comment %></td>
      <td><%= pin.pin_zip %></td>
      <td><%= button_to 'REMOVE PIN', pin, method: :delete, data: {confirm: "Do you really want to delete the pin from #{pin.pin_first_name}, created at #{pin.created_at}?"}, :class => 'remove-btn' %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>There are no pins containing the term(s) <%= params[:search] %>.</p>
<% end %>

