<!DOCTYPE html>
<html>
<head>
  <title>Rotr15</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">window.tab_properties  = $.extend(window.tab_properties, {"tab_meta":{"title":"Dedicate a Ribbon","picture":"https:\/\/www.myfangate.com\/ci\/uploads\/tabimages\/ROTR_tab1.png","description":"To raise cancer awareness, Roll Out The Ribbons is giving people an opportunity to dedicate and post ribbons. Dedicate your ribbon today! http:\/\/fngt.it\/Rollouttheribbons?utm_source=facebook&utm_medium=original&utm_content=post&utm_campaign=ROR"}});
</script>
<script type="text/javascript" src="https://s3.amazonaws.com/myfangate.com/assets/js/url-args.js" ></script>
<script type="text/javascript" src="https://s3.amazonaws.com/myfangate.com/assets/js/jq-custom.js" ></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1470507883248197',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<body>
<%= yield %>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  <!-- Bootstrap Modal Only -->
  <%= javascript_include_tag "bootstrap-modal.js" %>
  <!-- Tooltipster -->
  <%= javascript_include_tag "tooltipster.js" %>
  <!-- Touchable -->
  <%= javascript_include_tag "touchable.js" %>
  <%= javascript_include_tag "hoverable.js" %>
  <!-- pindrop script -->
  <%= javascript_include_tag "pindrop.js" %>
  <script type="text/javascript">window.pin_promo_id  = 2;</script>
  <%= javascript_include_tag "driver.js" %>
</body>
</html>
